@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><font size="24"><b><center>WELCOME!</center></b></font></h1>
</div>

<picture>
    <img src="https://static.vecteezy.com/system/resources/previews/013/923/535/original/sports-car-logo-png.png" alt="Car" width="1260" height="1045" class="center">
</picture>


 

 
